<% post_hobby.comments.each do |hobby_comment| %>
  <%= image_tag hobby_comment.user.get_profile_image, class: "user-img" %>
    <p class="user-name"><%= hobby_comment.user.name %></p>
    <div class="">
      <%= hobby_comment.created_at.strftime('%Y/%m/%d') %>
    <%= hobby_comment.comment %>
    </div>
    
    <% if hobby_comment.user == current_user %>
      <%= link_to "削除", post_hobby_comment_path(hobby_comment.post_hobby, hobby_comment), method: :delete %>
    <% end %>
  <% end %>

  <p>コメント: <%= post_hobby.comments.count %>件</p>
  <p>
  <%= form_with model:[post_hobby, comment] do |f| %>
   <%= f.text_area :comment, cols: '50', placeholder: "コメントを入力" %>
  <%= f.submit "送信する", class: "btn-sm btn-primary" %>
<% end %>