<div class="comment-area p-2">
  <% post_hobby.comments.each do |hobby_comment| %>
    <table class="table table-borderless">
      <tbody>
        <tr class="mb-2">
          <td rowspan="2">
            <%= image_tag hobby_comment.user.get_profile_image, class: "user-icon" %>
            <p class="user-name"><%= hobby_comment.user.name %></p>
          </td>
          <td>
            <%= hobby_comment.comment %>
          </td>
        </tr>
        <tr>
          <td class="created">
            <%= hobby_comment.created_at.strftime('%Y/%m/%d') %>
            <% if hobby_comment.user == current_user %>
              <%= link_to "コメントを削除する", post_hobby_comment_path(hobby_comment.post_hobby, hobby_comment), method: :delete, "data-confirm" => "コメントを削除しますか？" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<p class="pt-4">コメント: <%= post_hobby.comments.count %>件</p>
<%= form_with model:[post_hobby, comment] do |f| %>
  <div class="form">
    <%= f.text_area :comment, cols: '80',placeholder: "コメントを入力" %>
  </div>
  <div class="action">
    <%= f.submit "送信する", class: "btn-sm btn-primary" %>
  </div>
<% end %>