<div class="row mx-2 pt-2 parent-content">
  <div class="col-2">
    <%= link_to user_path(comment.user) do %>
      <div class="text-center"><%= image_tag comment.user.get_profile_image, class: "rounded-circle user-img" %></div>
      <p class="text-center user-name"><%= comment.user.name %></p>
    <% end %>
  </div>
  <div class="col-10">
    <p class="post-date">
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <% if comment.user == current_user || current_user.admin? %>
        <%= link_to "コメントを削除する", post_hobby_comment_path(post_hobby, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
      <% end %>
    </p>
    <p class="comment-content"><%= comment.comment %></p>
  </div>
</div>


<% comment.replies.each do |reply| %>
  <div class="row justify-content-center reply-content mx-2 pt-2">
    <div class="col-1 text-center pt-3">
      <i class="fas fa-reply"></i>
    </div>

    <div class="col-2">
      <div class="text-center"><%= image_tag reply.user.get_profile_image, class: "rounded-circle user-img" %></div>
      <p class="text-center user-name"><%= reply.user.name %></p>
    </div>
    <div class="col-8">
      <p class="post-date">
        <%= reply.created_at.strftime('%Y/%m/%d') %>
        <% if reply.user == current_user || current_user.admin? %>
          <%= link_to "コメントを削除する", post_hobby_comment_path(comment.post_hobby, reply), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
        <% end %>
      </p>
      <p class="comment-content"><%= reply.comment %></p>
    </div>
  </div>
<% end %>

<div class="row">
  <%= form_with(model: [post_hobby, reply_comment], local: false) do |f| %>
    <div class="mx-5 reply-form d-inline">
      <%= f.text_area :comment, placeholder: "コメント返信", rows: "1", cols: "30", class: "mt-2" %>
      <%= f.hidden_field :parent_id, value: comment.id %>
      <%= f.submit "返信", class: "btn-sm btn-success py-0" %>
    </div>
  <% end %>
</div>

<div class="border my-3 mx-5"></div>

