<table class="table table-borderless">
  <tbody>
    <tr class="mb-2">
      <td rowspan="2">
        <%= link_to user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, class: "rounded-circle user-img" %>
          <p class="user-name"><%= comment.user.name %></p>
        <% end %>
      </td>
      <td><%= comment.comment %></td>
    </tr>
    <tr>
      <td class="post-date">
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <% if comment.user == current_user || current_user.admin? %>
          <%= link_to "コメントを削除する", post_hobby_comment_path(post_hobby, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
        <% end %>
      </td>
    </tr>

    <% comment.replies.each do |reply| %>
      <tr class="reply-display">
        <td rowspan="2">
          <i class="fas fa-reply"></i><%= image_tag reply.user.get_profile_image, class: "rounded-circle user-img" %>
          <p class="user-name"><%= reply.user.name %></p>
        </td>
        <td><%= reply.comment %></td>
      </tr>
      <tr>
        <td class="post-date">
          <%= reply.created_at.strftime('%Y/%m/%d') %>
          <% if reply.user == current_user || current_user.admin? %>
            <%= link_to "コメントを削除する", post_hobby_comment_path(comment.post_hobby, reply), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <tr class="bg-white">
      <%= form_with(model: [post_hobby, reply_comment], local: false) do |f| %>
        <td class="reply-form">
          <%= f.text_area :comment, placeholder: "コメント返信", size: "2x2", class: "form-control" %>
          <%= f.hidden_field :parent_id, value: comment.id %>
        </td>
        <td>
          <%= f.submit "返信", class: "btn-sm btn-primary" %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>



