<!-- 親コメント表示 -->
<% post_hobby.comments.where(parent_id: nil).each do |comment| %>
  <div class="row mx-2 pt-2 parent-content">
    <div class="col-2">
      <%= link_to user_path(comment.user) do %>
        <div class="text-center"><%= image_tag comment.user.get_profile_image, class: "rounded-circle user-img" %></div>
        <p class="text-center user-name"><%= comment.user.name %></p>
      <% end %>
      <p class="sentiment-score text-secondary text-center">スコア[<%= comment.score %>]</p>
    </div>
    <div class="col-10">
      <p class="post-date">
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <% if comment.user == current_user || current_user.admin? %>
          <%= link_to "コメントを削除する", post_hobby_comment_path(post_hobby, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
        <% end %>
      </p>
      <% if comment.score >= -0.2 %>
        <p class="comment-content"><%= comment.comment %></p>
      <% else %>
        <p class="comment-content">不適切な言葉が含まれている可能性があるため非表示にしています。</p>
      <% end %>
      <p class="text-right reply-count"><%= render 'comments/reply_count', comment: comment %></p>
    </div>
  </div>

  <!-- リプレイコメント非表示 -->
  <div class="collapse" id="collapseExample">
    <%= render 'comments/reply_index', comment: comment %>
  </div>

  <% if post_hobby.user == current_user || comment.user == current_user %>
    <div class="row">
      <%= render 'comments/reply_form', comment: comment, reply_comment: reply_comment, post_hobby: post_hobby %>
    </div>
  <% end %>

  <div class="border my-3 mx-5"></div>
<% end %>

