<% post_hobby.comments.each do |comment| %>
  <table class="table table-borderless">
    <tbody>
      <tr class="mb-2">
        <td rowspan="2">
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_profile_image, class: "rounded-circle user-img" %>
            <p class="user-name"><%= comment.user.name %></p>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
      </tr>
      <tr>
        <td class="post-date">
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <% if comment.user == current_user || current_user.admin? %>
            <%= link_to "コメントを削除する", post_hobby_comment_path(post_hobby, comment), method: :delete, "data-confirm" => "コメントを削除しますか？", remote: true %>
          <% end %>
        </td>
      </tr>

      <% comment.reply_comments.each do |reply| %>
        <tr>
          <td>
            <%= image_tag reply.user.get_profile_image %>
            <p class="user-name"><%= reply.user.name %></p>
          </td>
          <td>返信<% reply.comment %></td>
           <% end %>
          <td>

            <%= form_with(model:[post_hobby, reply_comment], local: false) do |f| %>
              <%= f.text_area :comment, placeholder: "返信", class: "w-100 textarea" %>
              <%= f.hidden_field :parent_id, value: comment.id %>
              <div class="action">
                <%= f.submit "返信する", class: "btn-sm btn-primary" %>
              </div>
            <% end %>
            </td>
        </tr>


    </tbody>
  </table>
<% end %>