<%= simple_form_for @group do |f| %>
  <%= f.input :group_name, :class => "form-control" %>

  <%= f.input :introduction, as: :text, :class => "form-control" %>

  <%= f.label :group_image, class: "image-label" do %>
    <i class="far fa-image"> グループ画像</i>
  <% end %>
  <%= f.file_field :group_image, class: "form-control-file image-form" %>

  <div class="action">
    <%= f.submit '登録する', class: "btn btn-success text-right" %>
  </div>
<% end %>