<%= simple_form_for group do |f| %>

  <div class="text-center">
    <% if group.errors.any? %>
      <%= f.file_field :group_image, class: 'img-control' %>
      <%= image_tag 'no_image.jpg', onClick: "$('.img-control').click()", class: 'img-prev' %>
    <% else %>
      <%= f.file_field :group_image, class: 'img-control' %>
      <%= image_tag group.get_group_image, onClick: "$('.img-control').click()", class: 'img-prev' %>
    <% end %>
  </div>

  <%= f.input :group_name, autofocus: true, required: true,:class => "form-control" %>

  <%= f.input :introduction, as: :text, required: true, :class => "form-control" %>

  <div class="action">
    <%= f.submit '登録する', class: "btn btn-success" %>
  </div>
<% end %>