<div class="index-head">
  <ul class="d-flex justify-content-between">
    <li>
      <%= link_to  new_group_path, class: "text-secondary px-3" do %>
        <i class="fas fa-user-friends">グループ作成</i>
      <% end %>
    </li>
    <li class="search-form"><%= render 'group_search', q: @q %></li>
  </ul>
</div>

<% if @q.group_name_cont != nil %>
 <h3><span>"<%= "#{@q.group_name_cont}" %>"の検索一覧</span></h3>
<% else %>
  <h3><span>グループ一覧</span></h3>
<% end %>

<div class="row justify-content-center p-5">
  <div class="col-lg-6 col-md-12 group-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介</th>
          <!-- カテゴリー追加する -->
          <th>カテゴリー</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
        <tr>
          <td><%= image_tag group.get_group_image, size: "100x50", class: "group-img" %></td>
          <td><%= link_to group.group_name, group_path(group) %></td>
          <td><%= group.introduction %></td>
          <td>カテゴリー</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
