<h2 class="group-heading">Group</h2>

<div class="function-contents">
  <ul class="d-flex justify-content-between">
    <li>
      <%= link_to  new_group_path, class: "text-secondary px-3" do %>
        <i class="fas fa-user-friends">グループ作成</i>
      <% end %>
    </li>
    <li class="search-form"><%= render 'group_search', q: @q %></li>
  </ul>
</div>

<% if @q.group_name_cont != nil %>
  <h3 class="pt-5"><span>"<%= "#{@q.group_name_cont}" %>"の検索一覧</span></h3>
<% end %>

<div class="pt-5"><%= render 'layouts/flash' %></div>

<div class="row justify-content-center p-3">
  <div class="col-lg-10 col-md-12 group-list">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= image_tag group.get_group_image, size: "100x50", class: "group-img" %></td>
            <td><%= link_to group.group_name, group_path(group) %></td>
            <td><%= group.introduction %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @groups %>