<h2 class="member-heading">Member</h2>

<div class="row justify-content-center pt-3">
  <div class="col-10 member-list">
    <table class="table table-hover">
      <p><%= link_to 'グループ詳細に戻る', group_path(@group), class: "text-info" %></p>
      <% @members.each do |member| %>
        <tr>
          <td class="text-center">
            <% if member == @owner %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
          </td>
          <% if member == current_user %>
            <td class="text-center">
              <%= link_to mypage_users_path do %>
                <%= image_tag member.get_profile_image, size: "80x80", class: "rounded-circle user_img" %>
              <% end %>
            </td>
            <td>
              <%= link_to member.name, mypage_users_path, class: "text-dark" %>
            </td>
          <% else %>
            <td class="text-center">
              <%= link_to user_path(member) do %>
                <%= image_tag member.get_profile_image, size: "80x80", class: "rounded-circle user_img" %>
              <% end %>
            </td>
            <td>
              <%= link_to member.name, user_path(member), class: "text-dark" %>
            </td>
          <% end %>
          <td><%= member.introduction %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>