<h2 class="member-heading">Member</h2>

<div class="row justify-content-center p-5">
  <div class="col-lg-10 col-md-12 member-list">
    <table class="table table-hover">
      <p><%= link_to 'グループ詳細に戻る', group_path(@group) %></p>
      <% @members.each do |member| %>
        <tr>
          <td class="text-center">
            <% if member == @owner %>
              <i class="fas fa-star"></i>
            <% else %>
              <i class="far fa-star"></i>
            <% end %>
          </td>
          <td class="text-center"><%= image_tag member.get_profile_image, size: "80x80", class: "rounded-circle user_img" %></td>
          <% if member == current_user %>
            <td><%= link_to member.name, mypage_users_path %></td>
          <% else %>
            <td><%= link_to member.name, user_path(member) %></td>
          <% end %>
          <td><%= member.introduction %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>