<%= render 'layouts/flash' %>

<div class="row justify-content-center py-5">
  <div class="col-lg-3 col-md-10">
    <div class="card">
      <div class="p-2 card-head">
        <%= image_tag @group.get_group_image, class: "group-img" %>
      </div>
      <div class="card-body">
        <h5><%= @group.group_name %></h5>
        <p><%= @group.introduction %></p>
        <p>オーナー:
          <% if @group.owner == current_user %>
            <%= link_to @group.owner.name, mypage_users_path %>
          <% else %>
            <%= link_to @group.owner.name, user_path(@user) %>
          <% end %>
        </p>
        <p>グループメンバー: <%= link_to @group.group_users.count, group_member_path(@group) %>名</p>
        <% if @group.is_owned_by?(current_user) %>
          <p><%= link_to '編集', edit_group_path(@group), class: "btn btn-success" %></p>
        <% elsif @group.includesUser?(current_user) %>
          <p><%= link_to 'グループを抜ける', group_group_user_path(@group), method: :delete, class: "btn btn-danger" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-10">
    <div class="content">
      <% if @group.includesUser?(current_user) || @group.is_owned_by?(current_user) %>
        <div id="chat-asynchronous" class="p-2 chat-display">
          <div id="scroll">
            <%= render 'chats/index', group: @group %>
          </div>
        </div>
        <div>
          <%= render 'chats/form', group: @group, chat: @chat %>
        </div>
      <% else %>
        <p class="mt-5 text-center">
          グループに参加することでグループチャットが利用することができます。<br>
          参加して交流を深めましょう！
        </p>
        <p class="text-center"><%= link_to 'グループに参加する', group_group_users_path(@group), method: :post, class: "btn btn-success" %></p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'script/scroll' %>