<%= render 'layouts/flash' %>
<%= render 'layouts/error_message', obj: @user %>

<div class="row justify-content-center pt-5">
  <div class="col-lg-6 col-md-10">
    <h4><span>ユーザー情報編集</span></h4>

    <%= simple_form_for @user do |f| %>
      <%= f.input :name, autofocus: true, required: true,:class => "form-control" %>

      <%= f.label :profile_image, class: "image-label" do %>
        <i class="fas fa-portrait"></i>　プロフィール画像
      <% end %>
      <%= f.file_field :profile_image, accept: 'image/*', class: "image-form" %>

      <%= f.input :hobby, :class => "form-control" %>

      <%= f.input :introduction, :class => "form-control" %>


      <% if current_user.admin? %>
        <%= f.label :is_status, "会員ステータス" %>
        <%= f.radio_button :is_status, true %>
        <%= f.label :is_status_true, "有効" %>
        <%= f.radio_button :is_status, false %>
        <%= f.label :is_status_false, "退会" %>
      <% end %>

      <div class="action">
        <%= f.submit '編集内容を保存する', class: "btn btn-success" %>
        <% if @user == current_user %>
          <% unless current_user.admin? %>
            <%= link_to '退会する', user_confirm_withdraw_path(@user), class: "btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>