<div class="row justify-content-center mt-5">
  <div class="col-4">
    <%= image_tag @user.get_profile_image, size: "250x250", class: "profile-img" %>
  </div>
  <div class="col-6">
    <table class="profile">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <th>趣味</th>
        <td><%= @user.hobby %></td>
      </tr>

      <tr>
        <th>グループ</th>
        <td>所属グループ表示</td>
      </tr>
    </table>
    <div class="action mt-5">
      <% if current_user == @user || current_user.admin? %>
        <%= link_to '編集する', edit_user_path(@user), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-10 d-flex flex-wrap">
    <%= render 'post_hobbies/index', post_hobbies: @post_hobbies %>
  </div>
</div>