<% group.chats.each do |chat| %>
  <% if current_user.id == chat.user.id %>
    <div class="d-flex flex-row-reverse">
      <p class="mx-3">
        <%= image_tag chat.user.get_profile_image, size: '50x50', class: "rounded-circle" %><br>
         <%= chat.user.name %>
      </p>
      <p class="p-3 bg-primary rounded text-light"><%= chat.message %></p>
    </div>
  <% else %>
    <div class="d-flex">
      <%= link_to user_path(chat.user.id),class: "text-reset" do %>
        <p class="mx-3">
          <%= image_tag chat.user.get_profile_image, size: '50x50', class: "rounded-circle" %><br>
          <%= chat.user.name %>
        </p>
      <% end %>
      <p class="p-3 bg-light border border-secondary rounded"><%= chat.message %></p>
    </div>
  <% end %>
<% end %>


