<%= render 'layouts/flash' %>
<div class="row">
  <div class="col-12 p-0">

    <div class="img-box">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="top-text">
      <h1>Let's have fun!</h1>
      <p>Give color to your life.</p>
      <span><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "link m-2" %></span>
      <span><%= link_to '新規登録', new_user_registration_path, class: "link m-2" %></span>
      <span><%= link_to 'ログイン', user_session_path, class: "link m-2" %></span>
    </div>
  </div>
</div>

<div class="row content mt-5">
  <div class="fadein px-5">
    <%= render 'about' %>
  </div>

  <div class="fadein px-5">
    <%= render 'post' %>
  </div>

  <div class="fadein px-5">
    <%= render 'group' %>
  </div>
</div>
<%= javascript_pack_tag 'script/fadein' %>