<div class="container-fulid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-6 pl-5 logo">
      <%= link_to root_path do %>
        <%= image_tag 'pf-logo.png' %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="col-lg-9 col-md-8 col-sm-8 col-6">
        <div class="row">
          <div class="col-lg-1 col-md-2 col-sm-3 col-4 ml-auto">
            <div class="notification">
              <% if unchecked_notifications.any? %>
                <%= link_to notifications_path, class: "new-notice" do %>
                  <i class="fa-solid fa-bell"></i>
                <% end %>
              <% else %>
                <%= link_to notifications_path, class: "unnotice" do %>
                  <i class="fa-regular fa-bell"></i>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-lg-11 col-md-2 col-sm-3 col-4">
            <div class="menu">
              <div class="nav">
                <input id="drawer-input" class="drawer-hidden" type="checkbox">
                <label for="drawer-input" class="drawer-open"><span></span></label>
                <nav class="nav-content">
                  <ul class="nav-list">
                    <% if current_user.try(:admin?) %>
                      <li class="nav-item"><%= link_to '管理者画面', rails_admin_path %></li>
                      <li class="nav-item"><%= link_to 'ユーザ一覧', users_path %></li>
                    <% end %>
                    <li class="nav-item"><%= link_to 'マイページ', mypage_users_path %></li>
                    <li class="nav-item"><%= link_to '投稿一覧', post_hobbies_path %></li>
                    <li class="nav-item"><%= link_to 'グループ一覧', groups_path %></li>
                    <li class="nav-item"><%= link_to 'お気に入り', favorites_post_hobbies_path %></li>
                    <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>