<div class="container-fulid">
  <div class="row justify-content-center">
    <div class="col-5 offset-1 mr-auto">
      <%= link_to root_path do %>
        <%= image_tag 'pf-logo.png' %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="col-1">
        <div class="menu">
          <div class="nav">
            <input id="drawer-input" class="drawer-hidden" type="checkbox">
            <label for="drawer-input" class="drawer-open row justify-content-center"><span></span></label>
            <nav class="nav-content">
              <ul class="nav-list">
                <% if current_user.try(:admin?) %>
                  <li class="nav-item"><%= link_to '管理者画面', rails_admin_path, class: "text-light" %></li>
                  <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: "text-light" %></li>
                <% end %>
                <li class="nav-item"><%= link_to 'マイページ', mypage_users_path, class: "text-light" %></li>
                <li class="nav-item"><%= link_to '投稿一覧', post_hobbies_path, class: "text-light" %></li>
                <li class="nav-item"><%= link_to 'グループ一覧', groups_path, class: "text-light" %></li>
                <li class="nav-item"><%= link_to 'お気に入り', favorites_post_hobbies_path, class: "text-light" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-light" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>