<%= simple_form_for post_hobby do |f| %>

  <div class="text-center">
    <% if post_hobby.errors.any? %>
      <%= f.file_field :post_image, class: 'img-control' %>
      <%= image_tag 'no_image.jpg', onClick: "$('.img-control').click()", class: 'img-prev' %>

    <% else %>
      <%= f.file_field :post_image, class: 'img-control' %>
      <%= image_tag post_hobby.get_post_image, onClick: "$('.img-control').click()", class: 'img-prev' %>

    <% end %>
  </div>

  <%= f.input :title, autofocus: true, required: true, :class => "form-control" %>

  <%= f.input :text, as: :text, required: true, :class => "form-control" %>

  <%= f.input :tag_name, label: "タグ", input_html: { value: tag_list }, :class => "form-control" %>

  <div class="action">
    <%= f.submit '投稿する', name: 'commit', class: "btn btn-success" %>
    <% unless current_user.admin? %>
      <% if post_hobby.new_record? || is_draft %>
        <%= f.submit '下書き保存', name: 'commit', class: "btn btn-primary" %>
      <% else %>
        <%= f.submit '非公開にする', name: 'commit', class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>