<h2 class="heading">Post</h2>

<div class="function-contents">
  <ul class="d-flex justify-content-between">
    <li>
      <%= link_to new_post_hobby_path, class: "text-secondary px-3" do %>
        <i class="fas fa-plus">新規投稿する</i>
      <% end %>
    </li>
    <li>
      <%= link_to unpublished_post_hobbies_path, class: "text-secondary px-3" do %>
        <i class="fas fa-less-than">下書き/非公開一覧</i>
      <% end %>
    </li>
    <li class="search-form"><%= render 'search', q: @q %></li>
  </ul>
</div>

<div class="pt-5"><%= render 'layouts/flash' %></div>

<div>
  <% if @q.title_cont != nil %>
    <h3><span>"<%= "#{@q.title_cont}" %>"の検索結果</span></h3>
  <% end %>

  <% if @q.title_cont != nil %>
    <p class="ml-5 pl-5">検索結果 <%= @post_hobbies.count %>件です</p>
  <% end %>
</div>

<!--<div class="row pt-3">-->
<!--  <div class="col-12">-->
<!--    <%= render 'sort', q: @q %>-->
<!--    <%= render 'index', post_hobbies: @post_hobbies %>-->
<!--  </div>-->
<!--</div>-->

<ul class="tab-list list-unstyled">
  <li class="tab tab-active">
    一覧
  </li>
  <li class="tab">
    フォロー
  </li>
</ul>

<div class="tabbox-contents">
  <div class="tabbox box-show">
    <%= render 'index', post_hobbies: @post_hobbies %>
  </div>
  <div class="tabbox">
    <%= render 'index', post_hobbies: @follow_posts %>
  </div>
</div>


<%= paginate @post_hobbies %>
<%= javascript_pack_tag 'script/fadein' %>
