<div class="row py-3">
  <% if @q.title_cont != nil %>
    <h3>"<%= "#{@q.title_cont}" %>"の検索一覧</h3>
  <% else %>
    <h3>投稿一覧</h3>
  <% end %>
  <div class="search-form">
    <%= render 'search', q: @q %>
  </div>
</div>

<div class="row justify-content-center">
  <p class="new-post"><%= link_to '＋新規投稿する', new_post_hobby_path %></p>
  <p class="draft-index"><%= link_to '<<下書き/非公開一覧へ', unpublished_post_hobbies_path %></p>
  <div class="col-5">
    <% if @q.title_cont != nil %>
      <p>検索結果 <%= @post_hobbies.count %>件です</p>
    <% end %>
    <%= render 'index', post_hobbies: @post_hobbies %>
  </div>
</div>

