<div class="row pt-5">
  <div class="col-4 offset-1">
    <%= image_tag @post_hobby.get_post_image, class: "post-img" %>
    <p class="created">
      <%= @post_hobby.created_at.strftime('%Y/%m/%d %H:%M') %>
      <% if @post_hobby.user == current_user %>
        <%= link_to '編集する', edit_post_hobby_path(@post_hobby), class: "text-primary" %>
        <%= link_to '削除する', post_hobby_path(@post_hobby), method: :delete, "data-confirm" => "削除するとコメントやお気に入り登録などのが全て消えます。本当に削除しますか？", class: "text-danger" %>
        <span class="status px-2"><%= @post_hobby.post_status_i18n %></span>
      <% else %>
        <%= link_to "#{ @post_hobby.user.name }", user_path(@post_hobby.user) %>さんの投稿
      <% end %>
    </p>

    <div class="post-detail">
      <h4><%= @post_hobby.title %></h4>
      <p class="text"><%= safe_join(@post_hobby.text.split("\n"),tag(:br)) %></p>
    </div>
    <div class="category row">
      <p class="hobby-tag mr-auto"><%= link_to @post_hobby.tags.map(&:tag_name).join(',') %></p>
      <div id=<%="favorite-" + @post_hobby.id.to_s %> class= "like px-2 mr-5">
        <%= render 'favorites/favorite_btn', post_hobby: @post_hobby %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <%= render 'comments/comment', post_hobby: @post_hobby, comment: @comment %>
  </div>
</div>