<%= render 'layouts/flash' %>

<div class="row py-5">
  <h3><span>下書き/非公開</span></h3>
</div>

<div class="row justify-content-center">
  <div class="col-11">
    <div class="private-list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>ステータス</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_hobbies.each do |post_hobby| %>
            <% unless post_hobby.published? %>
              <tr>
                <td><%= image_tag post_hobby.get_post_image, class: "post-img" %></td>
                <td><%= post_hobby.title %></td>
                <td class="text-info">
                  <strong><%= post_hobby.post_status_i18n %></strong>
                </td>
                <td>
                  <%= link_to edit_post_hobby_path(post_hobby) do %>
                    <i class="fas fa-edit text-primary"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to post_hobby_path(post_hobby), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                    <i class="fas fa-trash-alt text-danger"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>